@import "normalize.css";

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.extra {
  border-radius: 5px;
}

body {
  font-size: 14px;
  color: #333;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
